## Build generated
build/
DerivedData
.idea/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
.DS_Store

# Bundler
.bundle
.cache
*.map

# JS
node_modules/
jspm_packages/
staging/

# Log Files
*.log
